@keyframes rotate
{
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes toUp
{
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100%{
    transform: translateY(-100%);
    opacity: 1;
  }
}